<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'acceuil</title>
    <link rel="stylesheet" href="\projet_twin\twin_network\static\css\page1.css">
</head>
<body>
    <header>
        <div class= logo>
            <img src="/projet_twin/projet_twin/static/image/TWIN.png" alt="logo des twin "> <!--pas encore de logo-->
        </div>
        <nav>
            <ul>
                <li><a href="form.html">S'inscrire</a></li>
                <li><a href="">Se connecter</a></li> <!--la page pour se connecter n'a pas encore été créer-->
            </ul>
        </nav>
    </header> 
    <main>
        <section>
            <article class="description-filière">
                <div class="twin-definition">
                    <img src="/projet_twin/twin_network/image/ESATIC-École-Supérieure-Africaine-des-Technologies-de-lInformation-et-de-la-Communication-orientation-bacheliers-Cote-divoire-2-scaled.webp" alt="image d'étudiant">
               
                    <p>
                        La filière TWIN ( Technologie du Web et Image Numérique )
                        est une filière dediée a la formation de technicien spécialisé
                        dans la programmation web, modélisation de site  web, crétion d'image,
                        de video, dans la modélisation 3D etc.
                    </p>
                </div>
            </article>
            <article class="description de personnes">
                <div class="Presentation">
                    <p>
                        Monsieur CISSE Cédric :
                            Responsable de la filière TWIN a l'ESATIC
                    </p>

                   <img src="/projet_twin/twin_network/image/Capture d’écran 2024-10-13 235527.png" alt="Photo de Monsieur Cissé">
                </div>       
            </article>
            <article class="description de personnes">
                <div class="Presentation">
                    <p>
                        L'étudiant DAGOU ABE JEAN CHRIST a marqué la promotion IT12.Lui même originaire d'Allemagne,
                        son parcours fut exellent et reste un exemple pour les étudiants actuels de l'ESATIC.
                        IL remporta Trois fois l'Hackaton et pris aussi la prémière place dans la compétion en informatique d'Italie.
                    </p>
                    <img src="/projet_twin/twin_network/image/dagou photo.jpg" alt="photo de DAGOU">
                </div>
            </article>
            <article class="description de personnes">
                <div class="Presentation">
                    <p>
                        L'étudiante COULIBALY AIDA a marqué la promotion IT12. 
                        Son parcours fut exellent et reste un exemple pour les étudiants actuels de l'ESATIC.
                        La première a avoir décélé tous les secrets du corro. En fait le corro, c'était tout simplement elle, Coulibaly Aida.
                    </p>
                    <img src="" alt="photo de Aida">
                </div>
            </article>
            <article class="description de personnes">
                <div class="Presentation">
                    <p>
                        L'étudiante Yao Sephora a marqué la promotion IT12. 
                        Son parcours fut exellent et reste un exemple pour les étudiants actuels de l'ESATIC.
                        Elle est mariée avec un individu de la filière SRIT. Mais malgré cet handicap, elle est restée notre fière 'Delegate'.
                    </p>
                    <img src="/projet_twin/twin_network/image/sephora photo.jpg" alt="photo de Sephora">
                </div>

            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 MonSiteWeb. Tous droits réservés.</p>
        
    </footer>
</body>
</html>
